[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pysnooper = "*"

[packages]
sounddevice = "*"
pyyaml = "*"
pydub = "*"
simpleaudio = "*"
blinker = "*"
pysnooper = "==0.0.34"

[requires]
python_version = "3.7"
